name = "demon-leaks-auth"
main = "worker.js"
compatibility_date = "2026-08-17"

[vars]
SITE_URL = "https://demonleaks.xyz"
DISCORD_REDIRECT_URI = "https://INSERISCI-WORKER.workers.dev/auth/callback"

# I seguenti NON vanno qui se il repository è pubblico.
# Inseriscili come Secrets dal dashboard Cloudflare:
# DISCORD_CLIENT_ID
# DISCORD_CLIENT_SECRET
# FIREBASE_SERVICE_ACCOUNT_EMAIL
# FIREBASE_PRIVATE_KEY
